/*mapa*/
/* tipo de letra ,Reset y atributos para todas las paginas*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&display=swap");
* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box; }

body {
  background-color: #000000eb;
  color: #f3ebeb; }

h1 {
  color: #ffd700;
  font-family: 'Roboto', sans-serif; }

h2 {
  color: #ffd700;
  font-family: 'Open Sans', sans-serif; }

li {
  transition: background 3s; }

li:hover {
  background: #ffd700; }

/* media queries para todas las paginas */
h1 {
  font-size: 3rem;
  text-align: center; }

h2 {
  font-size: 2.5rem; }

h3 {
  font-size: 2.2rem; }

p {
  font-size: 1.5rem; }

footer {
  font-size: 1.5rem; }

@media (max-width: 768px) {
  h1 {
    font-size: 2rem; }
  h2 {
    font-size: 1.8rem; }
  h3 {
    font-size: 1.5rem; }
  p {
    font-size: 1.2rem; }
  footer {
    font-size: 1rem; } }

@media (max-width: 576px) {
  h1 {
    font-size: 1.6rem; }
  h2 {
    font-size: 1.5rem; }
  h3 {
    font-size: 1.2rem; }
  p {
    font-size: 1rem; }
  footer {
    font-size: 1rem; } }

@media (max-width: 450px) {
  h1 {
    font-size: 1rem; }
  h2 {
    font-size: 1rem; }
  h3 {
    font-size: 1rem; }
  p {
    font-size: 0.8rem; }
  footer {
    font-size: 0.8rem; } }

/*para index*/
.principal__grilla {
  justify-content: center; }

.main_p1 {
  color: #f3ebeb; }

.division {
  color: #ffd700;
  text-align: center; }

.div__imagen {
  margin: 2rem;
  border-radius: 20%;
  object-fit: cover;
  width: 47rem;
  height: 23rem;
  transition: height 1s, width 1s; }
  .div__imagen:hover {
    width: 55rem;
    height: 31rem; }

@media screen and (max-width: 650px) {
  .div__imagen {
    margin: 2%;
    width: 70%;
    height: 70%; } }

.body__p {
  color: tomato; }

.boton__index {
  padding: 1.2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-radius: 10%;
  color: #0303f0;
  background-color: #ffd700;
  border: solid 0.5rem brown;
  transition: padding 3s; }
  .boton__index:hover {
    padding: 2rem; }

/*pagina info*/
.grilla__info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  text-align: center;
  justify-content: center;
  margin: 1rem 2rem; }

@media screen and (max-width: 1023px) {
  .grilla__info {
    grid-template-columns: 1fr; } }

@media screen and (max-width: 576px) {
  .grilla__info {
    margin: 1rem;
    grid-template-columns: 1fr; } }

@media screen and (max-width: 400px) {
  .grilla__info {
    margin: 0.5rem;
    grid-template-columns: 1fr; } }

.part {
  padding: 2rem; }
  .part__imagen {
    height: 60vh;
    width: 60vh; }

@media screen and (max-width: 760px) {
  .part {
    padding: 1rem; }
    .part__imagen {
      height: 40vh;
      width: 40vh; } }

@media screen and (max-width: 500px) {
  .part {
    padding: 1rem; }
    .part__imagen {
      height: 30vh;
      width: 30vh; } }

.sectionInfo {
  padding-top: 1rem;
  text-align: center;
  align-items: center; }
  .sectionInfo__frase {
    color: tomato; }

.recordatorio__info {
  padding-top: 4rem;
  color: #8713f5; }

@media screen and (min-width: 1024px) {
  .iframe2 {
    width: 48rem;
    height: 32rem; } }

@media screen and (min-width: 768px) {
  .iframe2 {
    width: 40rem;
    height: 32rem; } }

@media screen and (min-width: 501px) {
  .iframe2 {
    width: 25rem;
    height: 20rem; } }

@media screen and (max-width: 500px) {
  .iframe2 {
    width: 20rem;
    height: 20rem; } }

/* Pagina donde comprar carrousel*/
.carousel__dondecomprar img {
  height: 90vh;
  width: 100%; }

@media screen and (min-width: 768px) {
  .carousel-item p {
    font-size: 0.8rem; } }

@media screen and (min-width: 1024px) {
  .carousel-item p {
    font-size: 1.5rem; } }

.boton__dondecomprar {
  border-radius: 5%;
  color: #0303f0;
  background-color: #ffd700;
  border: solid 0.2rem brown; }

.titulo_dondecomprar {
  font-size: medium;
  color: #8713f5; }

@media screen and (min-width: 760px) {
  .titulo_dondecomprar {
    font-size: larger; } }

/*pagina contacto*/
.contenidos {
  display: flex;
  flex-direction: column;
  margin: 1rem 5rem;
  align-items: center; }

.contenido__titulo {
  text-align: center; }

.contenido__subtitulo {
  color: tomato;
  font-family: 'Kodchasan', sans-serif;
  padding-top: 2rem; }

.contenido__sectionf {
  padding: 2rem 30%;
  margin-bottom: 2rem;
  color: #ffd700;
  padding: 2rem 30%;
  font-family: 'Poller One', cursive;
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 40rem;
  align-items: center; }

.contenido__boton, .boton__info, .boton__recomendacion {
  padding: 1.2rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  border-radius: 10%;
  color: #0303f0;
  background-color: #ffd700;
  border: solid 0.5rem brown;
  transition: padding 3s; }
  .contenido__boton:hover, .boton__info:hover, .boton__recomendacion:hover {
    padding: 2rem; }

/*paginas recomendaciones*/
.grilla_recomendacion {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  text-align: center;
  justify-content: center; }

@media screen and (max-width: 1024px) {
  .grilla_recomendacion {
    grid-template-columns: 1fr; } }

.titulo__recomendacion {
  text-align: center;
  padding-bottom: 3rem; }

.subtitulo__recomendacion {
  color: tomato; }

.cripto {
  padding: 2rem; }
  .cripto__imagen {
    height: 60vh;
    width: 60vh; }

@media screen and (max-width: 500px) {
  .cripto {
    padding: 1rem; }
    .cripto__imagen {
      height: 40vh;
      width: 40vh; } }

@media screen and (max-width: 760px) {
  .cripto {
    padding: 1rem; }
    .cripto__imagen {
      height: 30vh;
      width: 30vh; } }

.aviso {
  color: #8713f5; }

/*paginas sucripciones*/
.grilla__suscribite {
  display: flex;
  flex-direction: column;
  margin: 1rem 5rem;
  align-items: center; }

.suscripcion__titulo {
  text-align: center; }

.suscripcion__subtitulo {
  color: tomato;
  font-family: 'Kodchasan', sans-serif; }

.suscripcion__sectionf {
  padding: 2rem 30%;
  margin-bottom: 2rem;
  color: #ffd700;
  padding: 2rem 30%;
  font-family: 'Poller One', cursive;
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 40rem;
  align-items: center; }

.suscripcion__boton {
  border-radius: 10%;
  color: #0303f0;
  background-color: #ffd700;
  border: solid 0.5rem brown;
  transition: padding 3s;
  padding: 2.2rem;
  margin-top: 2rem;
  margin-bottom: 2rem; }
  .suscripcion__boton:hover {
    padding: 5rem; }

.suscripcion__aviso {
  color: #8713f5; }

.suscripcion__aviso2 {
  color: #8713f5; }
  @media screen and (max-width: 300px) {
    .suscripcion__aviso2 {
      display: none; } }
