        /*pagina contacto*/
        
        .contenidos {
            display: flex;
            flex-direction: column;
            margin: 1rem 5rem;
            align-items: center;
        }
        
        .contenido {
            &__titulo {
                text-align: center;
            }
            &__subtitulo {
                color: map-get($colores, "destacado");
                font-family: 'Kodchasan', sans-serif;
                padding-top: 2rem;
            }
            &__sectionf {
                @include box;
            }
            &__boton {
                padding: 1.2rem;
                margin-top: 2rem;
                margin-bottom: 1rem;
                @include vos;
                &:hover {
                    padding: 2rem;
                }
            }
        }