/*paginas recomendaciones*/

.grilla_recomendacion {
    @include grilla;
}

@media screen and (max-width: 1024px) {
    .grilla_recomendacion {
        grid-template-columns: 1fr;
    }
}

.titulo__recomendacion {
    text-align: center;
    padding-bottom: 3rem;
}

.subtitulo__recomendacion {
    color: map-get($colores, "destacado");
}

.cripto {
    @include max;
}

@media screen and (max-width: 500px) {
    .cripto {
        @include reposive1;
    }
}

@media screen and (max-width: 760px) {
    .cripto {
        @include reposive2;
    }
}

.aviso {
    color: map-get($colores, "suscripcion");
}

.boton__recomendacion {
    @extend .contenido__boton
}